* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #202236;
}
/* ------------------------------------------- */

/* General Styles */
.margin-wrap-cont {
  width: 70%;
  margin: auto;
  padding: 14px 0;
  color: #d5dff2;
  /* border: 1px solid aqua; */
}

/* Header Section */
header {
  width: 100%;
  height: 20%;
  background-color: #6241f4;
  position: sticky;
  top:0;
  z-index: 1;
}

#headerwarp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#user-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avatar,
.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-info h2 {
  font-size: 45px;
}
#edit-profile-button {
  padding: 4px 10px;
  background-color: #1b1b1d41;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  color: #1bb155;
  margin-top: 5px;
  font-weight: bold;
}
#current-time {
  font-size: 55px;
  text-align: right;
}
#current-date {
  font-size: 25px;
  text-align: right;
}

/* Style for update profile information popup window */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
 
#edit-profile-form {
      height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    color: #111112;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#mainwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Column heading title */
#title-card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.title-cont {
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  width: 20%;
  background-color: #2d3157;
}
.sub {
  background-color: #363a66;
  width: 80%;
}
.sub .title {
  width: 100%;
}
.title-cont h4 {
  color: #d5dff2;
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
}

.goal-card {
  width: 100%;
  height: 125px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid red; */
}
form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid green; */
  color: #D5DFF2;
}
.editable {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 5px;
  color: #d5dff2;
  cursor: pointer;
}

.editable:focus {
  outline: none;
  border-bottom: 1px solid #ccc;
}
.editable::placeholder {
  color: #a1a6b1;
}
.skill-panel{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #30303d5b;
}
.skill-name{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.skill-name textarea {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #2D3157;
  padding: 10px;
  padding-top: 30px;
  box-sizing: border-box;
  resize: none; /* Prevent resizing if not needed */
  color: white; /* Ensure text color is visible */
  border: none; /* Remove border if needed */
}
.skill-info{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.data, .progress-data{
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #363A66;
}
.data {
  padding-top: 12px !important;
}
.dat{
  width: 100%;
  text-align: center;
  padding: 0 15px;
}
.time-remain{
  color: #ff7f50;
}
select{
  color:#1bb155;
}
select option{
  background-color: #202236;
  color: #d5dff2;
}
#progress {
  width: 80%;
  margin: 0 10px;
  margin-right: 6%;
  cursor: pointer;
}
.prog-label {
  margin-left: 22px;
  color: #1bb155;
  font-size: 15px;
}
.resources-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.res-name{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #2D3157;
  text-align: center;
  padding: 10px 10px;
}
.res-name h4{
  font-weight: 300;
  font-size: 15px;
  font-size: #d5dff2;
}
#resources {
  width: 80%;
  height: 100%;
  padding: 12px 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  background-color: #363A66;
}
#resources input {
  width: 40%;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  margin-top: -3px;
  font-size: 0.6em;
  color: #252EFF;
  border: 1px solid #7881d1a2;
  border-radius: 16px;
  background-color: #B0B3FD;
}
#resources input::placeholder{
  font-size: 12px;
  color: #252cffa9;
}
.div{
  width: 40px;
}
.card-button{
  height: 22px;
  width: 260px;
  padding: 0 10px;
  background-color: #767bb363;
  border: none;
  border-radius: 10px;
  font-size: 11px;
  color: #d5dff2;
  margin: -2px 5px 0px 0px;
  cursor: pointer;
}
.edit-button{
  color: #1bb155;
  /* color: #ff7f50; */
  letter-spacing: 1px;
}
.delete-button{
  color: #f33565;
  letter-spacing: 1px;
}
.save-button{
  color: #1bb155;
  letter-spacing: 1px;
}
/* Style for the "Add goal card" button */
#add-goal-button-cont {
  position: fixed;
  bottom: 40px;
  right: 10%;
  width: 60px;
  height: 60px;
  background-color: #363a66;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  
}
#add-goal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
#add-goal-button img {
  height: 40px;
  width: 40px;
}
